<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type='text/css' href="{{url_for ('static', filename='style.css') }}">
    <title>Dojo survey</title>
</head>
<body>
    <div id='wrapper'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/result" method="post">
            <p>
                <label for="your-name">Your Name</label>
                <input type="text" id="your-name" name="name" value="">
            </p>
            <p>
                <label for="dojo-location">Dojo Location</label>
                <select name="dojo-location" id="dojo-location">
                    <option value="San Jose">San Jose</option>
                    <option value="Arizona">Arizona</option>
                </select>
            </p>
            <p>
                <label for="fav-lang">Favorite Language</label>
                <select name="fav-lang" id="fav-lang">
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="JScript">JScript</option>
                </select>
            </p>
            <p>Comment (optional):</p>
            <textarea name="comment" cols="40" rows="10"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>